@using CandidaturesCore.Controller
@using CandidaturesCore.Model
@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div class="main">
    <div class="sticky-top" style="background-color: lightskyblue" align="center">
        <div class="row">
            <h1><b>Gestion des Candidatures (@Count)</b></h1>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code
{
    public int Count { get; set; }

    protected override void OnInitialized()
    {
        var controller = new BaseController<Candidature>();
        Count = controller.QueryCollection().Count(); 
    }
}
